include mixins

header.navbar.navbar-inverse.navbar-fixed-top.docs-nav(role='banner')
  a#ribbon(title='Click here to learn how you can support this project.',
    href='./#donations')
  a#ohloh(href='https://www.ohloh.net/p/camotics?ref=sample', target='_blank')

  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse',
        data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.nav.navbar-nav
        li
          a(href='.') About
        li
          a(href='download.html') Downloads
        li
          a(href='manual.html') Users Manual

      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | GitHub
            b.caret
          ul.dropdown-menu
            li
              a(target='_blank', href=repoURL) Source Code
            li
              a(target='_blank',
                href=repoURL + '/issues?state=open') Open Issues
            li
              a(target='_blank', href=repoURL + '/issues/new') New Issue

#content.docs-header
  .container
    != pages[page].titleText
    != pages[page].subtext

.banner#release20170511
  img.banner-close(src='images/banner-close.png')
  .container
    p
      | <a href=
      | "//blog.buildbotics.com/buildbotics-camotics-at-maker-faire-2017-dd021234c93b">
      | <img style="float:left; margin-right:1em" src="http://yydxg3i41b1482qi9hidybgs.wpengine.netdna-cdn.com/wp-content/uploads/2017/02/mf_bayarea_seeusthere_150x60.gif"/>
      | <div>Visit us at the 2017 Bay Area Maker Faire. <br/>
      | Zone 2, Expo building. <br/>
      | Click here to find out more.
      | </div>
      | </a>
