include mixins

header.navbar.navbar-inverse.navbar-fixed-top.docs-nav(role='banner')
  a#ribbon(title='Click here to learn how you can support this project.',
    href='./#donations')
  a#ohloh(href='https://www.ohloh.net/p/camotics?ref=sample', target='_blank')

  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse',
        data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.nav.navbar-nav
        li
          a(href='.') About
        li
          a(href='download.html') Downloads
        li
          a(href='manual.html') Users Manual

      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | GitHub
            b.caret
          ul.dropdown-menu
            li
              a(target='_blank', href=repoURL) Source Code
            li
              a(target='_blank',
                href=repoURL + '/issues?state=open') Open Issues
            li
              a(target='_blank', href=repoURL + '/issues/new') New Issue

#content.docs-header
  .container
    != pages[page].titleText
    != pages[page].subtext

.banner#announcement20170930
  img.banner-close(src='images/banner-close.png')
  .container
    a(href="http://buildbotics.com/controller", target="_blank")
      img(style="float:left; margin-right:1em",
        src="/images/buildbotics_controller_front_right_lit-tiny.png")

    a(href="https://www.instagram.com/buildbotics/")
      img(style="float:right;margin-left:1em",
        src="/images/social-1_logo-instagram-64.png")

    a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//buildbotics.com/controller")
      img(style="float:right;margin-left:1em",
        src="/images/social-1_logo-facebook-64.png")

    a(href="https://twitter.com/intent/tweet?text=Check out the Buildbotics CNC controller&url=http://buildbotics.com/controller")
      img(style="float:right;margin-left:1em",
        src="/images/social-1_logo-twitter-64.png")

    a(href="http://buildbotics.com/controller", target="_blank")
      div
        | Find out about the Buildbotics CNC controller.
        br
        | Get one of the first production units.
