mixin issue(n)
  | &nbsp;
  a(href=repoURL + '/issues/' + n)= '#' + n


mixin do_release(r, release, mode)
  - var url = 'http://camotics.org/releases/' + release + '/' + mode;
  - url += '/camotics/' + r[2] + '/v1.1/' + r[3];
  .release(title='Download CAMotics for ' + r[0])
    each img in r[1]
      img(src='images/' + img, alt=r[0])
    h1= r[0]
    a(title='Download CAMotics for ' + r[0], href=url)= r[3]


mixin do_releases(rs, release, mode)
  each r in rs
    +do_release(r, release, mode)


mixin mc_signup()
  #mc_embed_signup
    form(action="//buildbotics.us16.list-manage.com/subscribe/post",
      method="post")

      h3 Subscribe to the Buildbotics mailing list

      label Email:
      input(type="email", name="EMAIL")
      input.button(type="submit", value="Subscribe")
      input(type="hidden", name="u", value="aa50c8cda80a6ed2405c3e499")
      input(type="hidden", name="id", value="d319ecab7c")
